<!DOCTYPE html>
<html ng-app="fruitVeg">
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="fVCtrl">
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <h2>Fruits</h2>
                        <div class="text-center well" ng-repeat="item in fruits track by $index">
                            {{ item }} <button ng-class="{'btn-success': btnStyles.success, 'btn-danger': wrongArray.includes(item), 'btn-primary': !wrongArray.includes(item)}" class="btn btn-xs" ng-click="moveMiddle(fruits)">remove</button>
                        </div>
                </div>
                <div class="col-xs-4 text-center">
                    <h2>Pool</h2>
                        <div class="text-center well" ng-repeat="item in middle track by $index">
                            <button class="btn btn-xs btn-primary" ng-click="moveFruits()">&#x21E6;</button> {{ item }} <button class="btn btn-xs btn-primary" ng-click="moveVeggies()">&#x21E8;</button>
                        </div>
                        <div class="text-center">
                            <p ng-if="winner">YOU WIN IDIOT</p>
                        </div>
                </div>
                <div class="col-xs-4 text-center">
                    <h2>Veggies</h2>
                        <div class="text-center well" ng-repeat="item in veggies track by $index">
                            {{ item }} <button ng-class="{'btn-success': btnStyles.success, 'btn-danger': wrongArray.includes(item), 'btn-primary': !wrongArray.includes(item)}" class="btn btn-xs" ng-click="moveMiddle(veggies)">remove</button>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
